<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004425426404-0a2fj8df1m1oq48iefmtulp3phvuerj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004425426404-0a2fj8df1m1oq48iefmtulp3phvuerj9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1004425426404-b3sa5tsqkcrsk755l0lpn67r5vokik1f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCyrMmKWHugc_YdxUt0-JBphpJMD6i9DYs</string>
	<key>GCM_SENDER_ID</key>
	<string>1004425426404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.fitx</string>
	<key>PROJECT_ID</key>
	<string>fitx-393c5</string>
	<key>STORAGE_BUCKET</key>
	<string>fitx-393c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004425426404:ios:ec9af7be5d40dbf19743f1</string>
</dict>
</plist>